#celek{margin:0px auto;background-color: black;padding:50px}
body{background-color: black}
#nadpis{color: whitesmoke;font-family: fantasy;font-size: 45pt;margin-left: 5%}
#form{color: whitesmoke;margin-left: 34%;font-size: 18pt}
#obrazek{margin-left: 33%;margin-top: 5%}
#tlacitko{margin-left: 13%}

